<%
    let now = new Date();

    const dateFormat = (date) => {
        DAYS = (date.getMonth() + 1) + ". " + date.getDate() + " / " + date.getHours() + " : " + date.getMinutes();
        return DAYS;
    }
    let index = 0;
%>

<div id="albumContainer">
    <% for (; index < list.length;) { %>
        <div id="albumRows">
            <% for(i = 0; i < 5; i++) { %>
                <div id="albumItem">
                    <a class="albumHref" href="/board/boardContent?bno=<%= list[index].BNO %>">
                        <div id="albumThumbnail">
                            <img src="/upload/<%= list[index].THUMBNAIL %>" width="100%" height="100%">
                        </div>
                        <div id="albumInfo">
                            <div id="albumInfoHeader">
                                <div>
                                    <p style="font-size: 8pt;"><%= list[index].INQUIRY %></p>
                                </div>
                                <div>
                                    <p><%= list[index].WRITER %></p>
                                </div>
                                <div>
                                    <p style="font-size: 8pt;"><%= dateFormat(list[index].TIME) %></p>
                                </div>
                            </div>
                            <div id="albumInfoTitle">
                                <%= list[index].TITLE %>
                            </div>
                        </div>
                    </a>
                </div>
            <% index++; if (index >= list.length) break; } %>
        </div>
    <% } %>
</div>