<link rel="stylesheet" type="text/css" href="/public/css/views/boardContent.css">
<script src="/public/js/boardContent.js"></script>

<%
    const dateFormat = (date) => {
        DAYS = date.getFullYear() + ". " + (date.getMonth() + 1) + ". " + date.getDate() + " / " + date.getHours() + " : " + date.getMinutes();
        return DAYS;
    }
%>

<div id="boardContentHeader">
    <div id="boardContentWriter" class="mb-3">
        <label class="form-label headerLabel">작성자</label>
        <p id="headerboardContent"><img src="/upload/<%= content.WPROFILE %>" width="25px" height="25px">&nbsp;<%= content.WRITER %></p>
    </div>
    <div id="boardContentCategory" class="mb-3">
        <label class="form-label headerLabel">Category</label>
        <p id="headerboardContent"><%= content.CATEGORY %></p>
    </div>
    <div id="boardContentTitle" class="mb-3">
        <label class="form-label headerLabel">제목</label>
        <p id="headerboardContent"><%= content.TITLE %></p>
    </div>
    <div id="boardContentInquiry" class="mb-3">
        <label class="form-label headerLabel">조회수</label>
        <p id="headerboardContent"><%= content.INQUIRY %></p>
    </div>
    <div id="boardContentReport" class="mb-3">
        <label class="form-label headerLabel">신고수</label>
        <p id="headerboardContent"><%= boardReport %></p>
    </div>
    <div id="boardContentTime" class="mb-3">
        <label class="form-label headerLabel">작성시간</label>
        <p id="headerboardContent"><%= dateFormat(content.TIME) %></p>
    </div>
</div>

<div id="boardContentBody" class="mb-3">
    
        <%if(file.length == 0){%>
        <%}else{%> 
            <div id="boardContentFile" class="mb-3">
            <% file.forEach (data => {%>
                <div>
                    <img id="<%= data.FILENAME %>" src="/upload/<%= data.FILENAME %>" width="40px" height="40px" onclick="MouseEvent('<%= data.FILENAME %>')">
                </div>
            <%})%> 
            </div>
        <%}%>

    <div id="boardContent" class="mb-3">
        <%= content.CONTENT %>
    </div>
</div>
<div id="boardContentTotal">
    <div id="boardContentcmt" class="mb-3">
        <form action="/comment/register" method="post">
            <input id="cmtBno" type="hidden" name="bno" value="<%= content.BNO %>">

            <div class="mb-3" style="display: flex;">
                <input class="form-control" name="content" autocomplete="off" placeholder="댓글을 입력해주세요" />
                <button class="btn btn-success">Send</button>
            </div>
        </form>
    </div>
    <%if(cmt.length == 0){%>
        등록된 댓글이 없습니다. 댓글을 작성해주세요~
    <%}else{%>
        <% cmt.forEach (data => {%>
            <div class="cmtContainer mb-3">
                <div class="cmtListHeader mb-3">
                    <div class="cmtListProfile mb-3">
                        <img src="/upload/<%= data.WPROFILE %>" width="25px" height="25px">&nbsp;<%= data.WRITER %>
                    </div>
                    <div class="cmtListTime mb-3">
                        <%= dateFormat(data.TIME) %>
                    </div>
                    <div class="cmtListBtn mb-3">
                        <%if(user.ID === data.WRITER ) {%>
                            <div class="mb-3">
                                <button class="btn btn-secondary mb-2" onclick="cmtModify('<%=data.CNO%>')">수정</button>
                                <form action="/comment/delete" method="get">
                                    <input id="cmtBno" type="hidden" name="bno" value="<%=data.BNO%>">
                                    <input id="cmtCno" type="hidden" name="cno" value="<%=data.CNO%>">
                                    <button class="btn btn-secondary mb-2" >삭제</button>
                                </form>
                            </div>
                        <%}else{%>
                            <div class="mb-3">
                                <form action="/comment/report" method="get">
                                    <input id="cmtBno" type="hidden" name="bno" value="<%=data.BNO%>">
                                    <input id="cmtCno" type="hidden" name="cno" value="<%=data.CNO%>">
                                    <button class="btn btn-secondary mb-3" >신고</button>
                                </form>
                            </div>
                        <%}%>
                    </div>
                </div>
                <div id="cmtContent<%= data.CNO%>" class="cmtListContent">
                    <%= data.CONTENT %>
                </div>
            </div>
        <%})%>
    <%}%>    
</div>