<link rel="stylesheet" type="text/css" href="/public/css/views/boardList.css">
<link rel="stylesheet" type="text/css" href="/public/css/views/albumBoard.css">

<%
    let now = new Date();

    const dateFormat = (date) => {
        DAYS = date.getFullYear() + ". " + (date.getMonth() + 1) + ". " + date.getDate() + " / " + date.getHours() + " : " + date.getMinutes();
        return DAYS;
    }
%>

<div id="boardContainer">
    <div id="boardHeader" class="mb-3">
        <p id="boardTitle">
            <% if (category == "all") { %>
                전체 게시판
            <% } else if (category == "buy") { %>
                일반 게시판
            <% } else if (category == "sell") { %>
                판매 게시판
            <% } else if (category == "notice") { %>
                공지사항
            <% } %>
        </p>
        <div id="headerBtn">
            <input class="btn btn-info" type="button" value="글쓰기" onclick="location.href='/board/boardForm'">
        </div>
    </div>

    <div id="boardBody">
        <% if (category == "sell") { %>
            <%- include("./albumBoard") %>
        <% } else { %>
            <%- include("./defaultBoard") %>
        <% } %>
    </div>

    <div id="boardFooter">
        <% if (start <= 1) { %>
            <input class="btn btn-outline-primary" type="button" value="◀" disabled>
        <% } else { %>
            <input class="btn btn-outline-primary" type="button" value="◀" onclick="location.href='/board/boardList?category=<%=category%>&start=<%= start - 1 %>'">
        <% } %>
            &nbsp;&nbsp;
        <% for (i = 1; i <= page.totPage; i++) { %>
            <input class="btn btn-outline-success" type="button" value="<%= i %>" onclick="location.href='/board/boardList?category=<%=category%>&start=<%= i %>'">
        <% } %>
            &nbsp;&nbsp;
        <% if (start < page.totPage) { %>
            <input class="btn btn-outline-primary" type="button" value="▶" onclick="location.href='/board/boardList?category=<%=category%>&start=<%= start + 1 %>'">
        <% } else { %>
            <input class="btn btn-outline-primary" type="button" value="▶" disabled>
        <% } %>
    </div>
</div>