<link rel="stylesheet" type="text/css" href="/public/css/views/boardContent.css">
<script src="/public/js/boardContent.js"></script>

<%
    const dateFormat = (date) => {
        DAYS = date.getFullYear() + ". " + (date.getMonth() + 1) + ". " + date.getDate() + " / " + date.getHours() + " : " + date.getMinutes();
        return DAYS;
    }
    const image = ['JPG', 'JPEG', 'PNG', 'GIF'];
    const movie = ['MP4', 'AVI'];
    const music = ['MP3', 'MPEG'];
%>

<div id="boardContentHeader">
    <div style="display: flex; width: 100%;">
        <div id="boardContentWriter" class="mb-3">
            <label class="form-label headerLabel">작성자</label>
            <p class="headerboardContent"><img src="/upload/<%= content.WPROFILE %>" width="25px" height="25px">&nbsp;<%= content.WRITER %></p>
        </div>
        <div id="boardContentTitle" class="mb-3">
            <label class="form-label headerLabel">제목</label>
            <p class="headerboardContent"><%= content.TITLE %></p>
        </div>
        <div id="boardContentHeaderBtnContainer">
            <%if(user.ID === content.WRITER || user.ADMIN == 1) {%>
                <input class="btn btn-success" type="button" value="=" onclick="headerMenuControl()">
                <div id="boardContentHeaderBtnDiv">
                    <% if(user.ID === content.WRITER){%>
                        <input class="btn btn-warning" type="button" value="수정" onclick="location.href='/board/boardModifyForm/<%=content.BNO %>'"><br>
                    <% } %>
                    <input class="btn btn-danger" type="button" value="삭제" onclick="location.href='/board/boardDel/<%=content.BNO%>'">
                </div>
            <%}else{%>
                <div class="mb-3">
                    <form action="/board/report" method="post">
                        <input id="cmtBno" type="hidden" name="bno" value="<%=content.BNO%>">
                        <button class="btn btn-danger mb-3" >신고</button>
                    </form>
                </div>
            <%}%>
        </div>
    </div>

    <div style="display: flex; width: 100%;">
        <div id="boardContentCategory" class="mb-3">
            <label class="form-label headerLabel">카테고리</label>
            <p class="headerboardContent"><%= content.CATEGORY %></p>
        </div>
        <% if (content.CATEGORY == "sell") { %>
            <div id="boardContentPrice" class="mb-3">
                <label class="form-label headerLabel">가격</label>
                <p class="headerboardContent"><%= content.PRICE %> 원</p>
                <input id="productPrice" type="hidden" value="<%= content.PRICE %>">
            </div>
        <% } %>
        <div id="boardContentInquiry" class="mb-3">
            <label class="form-label headerLabel">조회수</label>
            <p class="headerboardContent"><%= content.INQUIRY %></p>
        </div>
        <div id="boardContentReport" class="mb-3">
            <label class="form-label headerLabel">신고수</label>
            <p class="headerboardContent"><%= boardReport %></p>
        </div>
        <div id="boardContentTime" class="mb-3">
            <label class="form-label headerLabel">작성시간</label>
            <p class="headerboardContent"><%= dateFormat(content.TIME) %></p>
        </div>
    </div>
</div>

<div id="boardContentBody" class="mb-3">
        <%if(file.length != 0){%>
            <div id="boardContentFile" class="mb-3">
            <% file.forEach ((data, index) => { fileType="none"; if (index == 0 && content.CATEGORY == "sell") fileType="download"; %>
                <div style="margin-right: 10px; cursor: pointer;">
                    <% if (image.indexOf(data.FILENAME.split(".")[1]) != -1) { %>
                        <img src="/upload/<%= data.FILENAME %>" width="40px" height="40px" onclick="openFileInfo('<%= data.FILENAME %>', '<%= fileType %>')">
                    <% } else if (movie.indexOf(data.FILENAME.split(".")[1]) != -1) { %>
                        <video src="/upload/<%= data.FILENAME %>" width="40px" height="40px" onclick="openFileInfo('<%= data.FILENAME %>', '<%= fileType %>')"></video>
                    <% } else if (music.indexOf(data.FILENAME.split(".")[1]) != -1) { %>
                        <img src="/public/images/DefaultAudio.jpg" width="40px" height="40px" onclick="openFileInfo('<%= data.FILENAME %>', '<%= fileType %>')">
                        <audio src="/upload/<%= data.FILENAME %>" width="40px" height="40px" onclick="openFileInfo('<%= data.FILENAME %>', '<%= fileType %>')"></audio>
                    <% } %>
                </div>
            <% }) %> 
            </div>
        <%}%>

    <div id="boardContent" class="mb-3">
        <input id="boardContentTmp" type="hidden" value="<%= content.CONTENT %>">
    </div>
</div>

<div id="boardContentTotal">
    <div id="boardContentcmt" class="mb-3">
        <form action="/comment/register" method="post">
            <input id="cmtBno" type="hidden" name="bno" value="<%= content.BNO %>">

            <div class="mb-3" style="display: flex;">
                <input class="form-control" name="content" autocomplete="off" placeholder="댓글을 입력해주세요" />
                <button class="btn btn-success">Send</button>
            </div>
        </form>
    </div>
    <%if(cmt.length == 0){%>
        등록된 댓글이 없습니다. 댓글을 작성해주세요~
    <%}else{%>
        <% for (i = 0; i < cmt.length; i++) { %>
            <div class="cmtContainer mb-3">
                <div class="cmtListHeader mb-3">
                    <div class="cmtListProfile">
                        <img src="/upload/<%= cmt[i].WPROFILE %>" width="40px" height="40px">&nbsp;<%= cmt[i].WRITER %>
                    </div>
                    <div class="cmtListTime">
                        <%= dateFormat(cmt[i].TIME) %> <br>
                        👎 <% 
                                flag = false;
                                for (j = 0; j < cmtReport.length; j++) {
                                    if (cmtReport[j].CNO == cmt[i].CNO) {
                                        flag = true; %>
                                        <%= cmtReport[j].CNT %>
                                    <% }
                                }
                                if (flag == false) { %>
                                    0
                                <% }
                            %>
                    </div>
                    <%if(user.ID === cmt[i].WRITER || user.ADMIN == 1) {%>
                        <div class="cmtListBtn">
                            <% if (user.ID == cmt[i].WRITER) { %>
                            <button class="btn btn-secondary" onclick="cmtModify('<%=cmt[i].CNO%>')">수정</button> &nbsp;
                            <% } %>
                            <form action="/comment/delete" method="get">
                                <input id="cmtBno" type="hidden" name="bno" value="<%=cmt[i].BNO%>">
                                <input id="cmtCno" type="hidden" name="cno" value="<%=cmt[i].CNO%>">
                                <button class="btn btn-secondary" >삭제</button>
                            </form>
                        </div>
                    <%}else{%>
                        <div class="cmtListBtn">
                            <form action="/comment/report" method="post">
                                <input id="cmtBno" type="hidden" name="bno" value="<%=cmt[i].BNO%>">
                                <input id="cmtCno" type="hidden" name="cno" value="<%=cmt[i].CNO%>">
                                <button class="btn btn-danger" >신고</button>
                            </form>
                        </div>
                    <%}%>
                </div>
                <div id="cmtContent<%= cmt[i].CNO%>" class="cmtListContent">
                    <%= cmt[i].CONTENT %>
                </div>
            </div>
        <% } %>
    <%}%>    
</div>