<link rel="stylesheet" type="text/css" href="/public/css/views/qnaContent.css">

<script src="/socket.io/socket.io.js"></script>
<script src="/public/js/jquery.js"></script>
<script src="/public/js/qnaChatting.js"></script>

<%
    const dateFormat = (date) => {
        DAYS = date.getFullYear() + "/" + (date.getMonth() + 1) + "/" + date.getDate() + " " + date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds();
        return DAYS;
    }
    const image = ['JPG', 'JPEG', 'PNG', 'GIF'];
    const movie = ['MP4', 'AVI'];
    const music = ['MP3', 'WAV'];
%>

<div id="qnaHeader">
    <div id="qnaWriter" class="mb-3">
        <label class="form-label headerLabel">작성자</label>
        <p id="headerWriter"><img src="/upload/<%= chat[0].WPROFILE %>" width="40px" height="40px">&nbsp;<%= chat[0].WRITER %></p>
    </div>
    <div id="qnaTitle" class="mb-3">
        <label class="form-label headerLabel">제목</label>
        <p id="headerTitle"><%= chat[0].TITLE %></p>
    </div>
    <div id="qnaTime" class="mb-3">
        <label class="form-label headerLabel">작성시간</label>
        <p id="headerTime"><%= dateFormat(chat[0].TIME) %></p>
    </div>
    <% if (user.ADMIN == 1) { %>
        <div id="qnaHeaderBtnContainer">
            <input class="btn btn-success" type="button" value="=" onclick="headerMenuControl()">
            <div id="qnaHeaderBtnDiv">
                <input class="btn btn-danger" type="button" value="삭제" onclick="location.href='/qna/delete?bno=<%= chat[0].BNO %>'">
                <!-- <br><input class="btn btn-warning" type="button" value="수정" onclick=""> -->
            </div>
        </div>
    <% } %>
</div>

<div id="qnaContent" class="mb-3">
    <label class="form-label headerLabel">질문 내용</label>
    <div id="qnaContentDiv"><input id="qnaContentBtn" type="hidden" value="<%= chat[0].CONTENT %>"></div>
</div>

<div id="qnaContentContainer">
    <div id="qnaChatContainer">
        <div id="qnaChatList">
            <% for(i = 1; i < chat.length; i++) { %>
                <% if (chat[i].WRITER == user.ID) { %>
                    <div id="rightContent">
                        <div>
                            <b><%= chat[i].WRITER %></b><br>
                            <%= chat[i].CONTENT %>
                        </div>
                        <img src="/upload/<%= chat[i].WPROFILE %>">
                    </div>
                <% } else { %>
                    <div id="leftContent">
                        <img src="/upload/<%= chat[i].WPROFILE %>">
                        <div>
                            <b><%= chat[i].WRITER %></b><br>
                            <%= chat[i].CONTENT %>
                        </div>
                    </div>
                <% } %>
            <% } %>
        </div>

        <form id="qnaChatForm">
            <input id="qnaChatBno" type="hidden" name="bno" value="<%= chat[0].BNO %>">
            <input id="qnaChatTitle" type="hidden" name="title" value="<%= chat[0].TITLE %>">
            <input id="qnaChatId" type="hidden" name="id" value="<%= user.ID %>">
            <input id="qnaChatProfile" type="hidden" name="profile" value="<%= user.PROFILE %>">

            <div class="mb-3" style="display: flex;">
                <input id="qnaMsg" class="form-control" name="content" autocomplete="off"  />
                <button class="btn btn-success">Send</button>
            </div>
        </form>
    </div>

    <div id="qnaFileContainer">
        <div id="qnaFileList">
            <% files.forEach(data => { %>
                <div class="qnaFileDiv">
                    <% if (image.indexOf(data.FILENAME.split(".")[1]) != -1) { %>
                        <img src="/upload/<%= data.FILENAME %>" width="100%" height="120px" onclick="openFileItemInfo('<%= data.FILENAME %>')">
                    <% } else if (movie.indexOf(data.FILENAME.split(".")[1]) != -1) { %>
                        <video src="/upload/<%= data.FILENAME %>" width="100%" height="120px" onclick="openFileItemInfo('<%= data.FILENAME %>')"></video>
                    <% } else if (music.indexOf(data.FILENAME.split(".")[1]) != -1) { %>
                        <audio src="/upload/<%= data.FILENAME %>" width="100%" height="120px" onclick="openFileItemInfo('<%= data.FILENAME %>')"></audio>
                    <% } %>
                </div>
            <% }) %>
        </div>
        
        <form id="qnaChatFileForm" action="/qna/fileUp" method="post" enctype="multipart/form-data">
            <input type="hidden" name="bno" value="<%= chat[0].BNO %>">
            <input type="hidden" name="writer" value="<%= chat[0].WRITER %>">
            <input type="hidden" name="time" value="<%= dateFormat(chat[0].TIME) %>">
            <input id="qnaFileSubBtn" class="form-control" type="file" name="qnaFiles" onchange="qnaFileUp()" multiple>
        </form>
    </div>
</div>