<%
    let now = new Date();

    const dateFormat = (date) => {
        DAYS = (date.getMonth() + 1) + ". " + date.getDate() + " / " + date.getHours() + " : " + date.getMinutes();
        return DAYS;
    }
    let index = 0;
%>

<div class="containerTitle">인기 게시글</div>
<div id="starContent">
    <table class="table table-light tabal-hover table-striped">
        <thead>
            <tr><th>번호</th> <th>제목</th> <th>작성자</th> <th>시간</th><th>조회</th></tr>
        </thead>
               
        <tbody>
            <% star.forEach( data => { %>
                <tr>
                    <td width="50px;"><%= data.BNO %></td>
                    <td style="text-align: left;">
                        <% if (data.CATEGORY == "notice") { %>
                            <a class="boardLink" href="/board/boardContent?bno=<%= data.BNO %>" style="color : red; font-weight: bold;">
                        <% } else { %>
                            <a class="boardLink" href="/board/boardContent?bno=<%= data.BNO %>">
                        <% } %>
                            <%= data.TITLE %>
                        </a>
                        <% if (data.TIME.getDate() == now.getDate()) { %>
                            <img src="/public/images/DefaultNew.gif">
                        <% } %>
                    </td>
                    <td width="80px;"><%= data.WRITER %></td> <td width="120px;"><%= dateFormat(data.TIME) %></td>
                    <td width="50px;"><%= data.INQUIRY %></td>
                </tr>
            <% }) %>
            <% if (star.length == 0) { %>
                <tr><td colspan="5">등록된 글이 없습니다.</td></tr>
            <% } %>
        </tbody>
    </table>
</div>